@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(300deg, rgba(184,94,157,1) 0%, #82FDFF 90%);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
  font-family: "Poppins", sans-serif;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2 {
  /* color: #fff; */
  /* color: #333;
    font-weight: 500; */

  font-weight: 700;
  letter-spacing: -1.5px;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.3);
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: #fff;
  /* box-shadow: 0 5px 35px rgba(0,0,0,0.15); */
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #0e3959;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* formBox */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #18b7ff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  /* min-height: 220px; */
  margin-bottom: 10px;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: #ff578b;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder {
  color: #999;
}

/* info */
.info {
  /* background: #0e3959; */
  background-color: #4bb6b7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info h3 {
  color: #fff;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  /* color: rgb(170, 170, 170); */
  color: #4bb6b7;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: #fff;
  font-size: 1.1em;
}

.info .infoBox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.sci {
  margin-top: 40px;
  margin-right: 15px;
  display: flex;
  justify-content: space-evenly;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: #fff;
  font-size: 2em;
  color: #fff;
}

.sci li a:hover {
  color: #fff;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;

  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive Design */
@media (max-width: 991px) {
  body {
    background: #03a9f5;
  }

  .contactUs {
    padding: 20px;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .map {
    min-height: 300px;
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }

  .map {
    min-height: 300px;
    padding: 0px;
  }
}

/* ----- Alterações ------- */

input[type="text"],
textarea:valid {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
}

#data {
  border: 1px solid rgb(170, 170, 170);
}

#btnEnviarDiario {
  border-radius: 22px;
  border: 1px solid #4bb6b7;
  background-color: #4bb6b7;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  padding: 10px;
}

#btnEnviarDiario:hover {
  letter-spacing: 3px;
}

p,
.inputBox,
.infoBox {
  font-size: 14px;
}

.sci li a {
  font-size: 2.5em;
}

#baixar_diario {
  margin-top: 5%;
  font-size: 16px;
  color: #333;
  transition: all 300ms ease-in;
}

.inputBox #baixar_diario:hover {
  text-decoration: none;
  color: #4bb6b7;
}

/* Mensagem do php */
.effect.on {
  width: 100vw;
  height: 100vh;
  background: rgb(51, 51, 51, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  justify-items: center;
  top: 0;
  left: 0;
  z-index: 102;
}

.effect.on .response {
  background-color: #f0f0f0;
  position: absolute;
  text-align: center;
  border-radius: 8px;
  /* width: 32%; */
  top: 34%;
  /* left: 30%; */
  z-index: 102;
  padding: 1%;
  min-height: 15%;
  max-height: 20%;
  max-width: 32%;
  min-width: 12%;
}

.response h3 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: -4px;
}

/* .response .response-message {
  font-weight: 400;
  font-size: 15px;
  text-shadow: none;
} */
.response .response-message {
  font-weight: 400;
  font-size: 15px;
  text-shadow: none;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.response .response-message span {
  color: #03a9f5;
}
